div#prominent a img {
    display: block;
    position: relative;
    width: 95%;
    left: -1rem;
    margin: 5rem;
}

#normal {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 12%;
}

#normal a {
    width: 40%;
    margin-right: 5%;
    margin-bottom: 10%;
}

#images {
    border: 1rem solid brown;
    padding: 1rem;
}

#line {
    width: 90%;
    height: 1rem;
    background-color: red;
    margin: 5%;
}

/* 
#footer {
    transform: scale(1.3);
} */

